.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: 1px solid #000;
}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #030;
}

.user{
    position: absolute;
    background-color: rgb(16, 16, 16);
    width: 100px;
    height: 20px;
}

.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #808;
}